.section.slice.bg-3
  .w-section.inverse.container
    .row
      .col-lg-12
        h1 Заявки от партнёров
        - if !@partners.empty?
          table.table.table-hover.data
            thead
              tr
                th Имя
                /th Телефон
                /th Email
                th Компания
                th Вид деятельности
                /th Url
                th
            tbody
              == render 'partner', {partners: @partners}
javascript:
  $(function(){
    $('.data').dataTable({
    "sDom": '<"panel panel-default"<"panel-heading"lf><"panel-body"t><"panel-footer"ip><"clear">>',
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 3 ] }
      ],
      "sPaginationType": "bootstrap"
    });

    $('.panel-heading').css({'height': "55px"});
    $('.dataTables_paginate').css({'margin-top': "-33px"});

    $('.dataTables_length').before( $('.dataTables_filter') );

    $('.dataTables_length > label > select').addClass('form-control')
    $('.dataTables_length > label').addClass('control-label')

    $('#DataTables_Table_0_filter > label > input').addClass('form-control');
  });